<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Alternakraft</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .layout {
            text-align: center;
            width: 70%;
            box-sizing: border-box;  /* set width and height according to border-box*/
            padding: 50px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="layout">
    <h1>Welcome to Alternakraft!</h1>
    <br><br>
    <h3>Please choose from the options :</h3>
    <br>
    <br>
    <a href="/household-info-page" >Enter my household info</a> <br />
    <br>
    <br>
    <a href="/view-report-page" >View reports/query data</a>
</div>
</body>
</html>