<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Search for Manufacturer/Model</title>
    <style>
        .highlight {
            background-color: rgb(198, 219, 198);
        }
        .buttonLayout {
            border: none;
        }
    </style>
</head>

<body>
<br><br><br>
<h1>Search for Manufacturer/Model</h1>
<br/><br/>
<div style="text-align: center">
    Enter keyword to search:
    <input type="text" id="keyword">
    <input type="button" value="submit" onclick="on()">
</div>
<table>
    <thead>
    <tr>
        <!-- 设置column 名称 -->
        <th>Manufacturer Name</th>
        <th>Model Name</th>
    </tr>
    </thead>
    <tbody id="data-output">
    </tbody>
</table>
<table>
    <tr>
        <td  class="buttonLayout" style="text-align: right"><a href = "/view-report-page">Return to view reports</a></td>
    </tr>
</table>

<script type="text/javascript">
    function on() {
        const keyword = document.getElementById("keyword").value;

        // validate input
        if (keyword == "") {
            alert("Keyword is required");
            return;
        }

        // support searching special characters like '_' and '%'
        let encodedKeyword = encodeURIComponent(keyword.replace(/!/g, "!!").replace(/%/g, "!%").replace(/_/g, "!_"));


        fetch(`http://localhost:8082/reports/search-manufacturer-model?keyword=${encodedKeyword}`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
            },
        })
            .then(response => response.json())
            .then(function(data){
                if (data.length == 0) {
                    alert("No result");
                }
                let placeholder = document.querySelector("#data-output");
                let out = "";
                for (let i of data) {
                    out += `
                    <tr>
                        <td>${i.manufacturer_name}</td>
                        <td>${i.model_name}</td>
                    </tr>
                `;
                }
                placeholder.innerHTML = out;

                // highlight cells with keyword
                const table = document.querySelector("#data-output");
                const cells = table.querySelectorAll("td");
                cells.forEach(cell => {
                    if (cell.textContent.toLowerCase().includes(keyword.toLowerCase())) {
                        cell.classList.add("highlight");
                    }
                });
            }).catch(error => {
            alert("There was an error:"+error);
            console.error("There was an error:", error);
        });
    }
</script>
</body>
</html>