<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to my stylesheet -->
    <link rel="stylesheet" href="styles.css">
    <title>Top 25 Manufacturers</title>
    <style>
        .buttonLayout {
            border: none;
        }
    </style>
</head>
<body>
<br><br><br>
<h1>Top 25 Manufacturers</h1>
<table>
    <thead>
    <tr>
        <!-- 设置column 名称 -->
        <th>Manufacturer Name</th>
        <th>Number of Appliances</th>
        <th>Drilldown Report</th>
    </tr>
    </thead>
    <tbody id="data-output">
    </tbody>
</table>
<table>
    <tr>
        <td  class="buttonLayout" style="text-align: right"><a href = "/view-report-page">Return to view reports</a></td>
    </tr>
</table>

<script type="text/javascript">
    fetch('http://localhost:8082/reports/top-manufacturers', {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
        },
    })
        .then(response => response.json())
        .then(function(data){
            let placeholder = document.querySelector("#data-output");
            let out = "";
            for(let i of data){
                out += `
			<tr>
				<td>${i.manufacturer_name}</td>
				<td>${i.count}</td>
				<td><button class="button-4" onclick="location.href ='/view-manufacturer-drilldown-page?id=${i.manufacturer_name}'"  target="_blank">${i.drilldown_report}</button></td>
			</tr>
		`;
            }
            placeholder.innerHTML = out;
        });

</script>
</body>
</html>





