<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Household Averages by Radius</title>
    <style>
        .buttonLayout {
            border: none;
        }
    </style>
</head>

<body>
<br><br><br>
<h1>Household Averages by Radius</h1>
<br><br>
<div style="text-align: center">
    Postal code: <input type="text" id="postalCode" onblur="checkPostal()" >
    Radius(miles): <input type="number" id="radius" onblur="checkInt()">
    <input type="button" value="submit" onclick="on()">
</div>
<div >
    <table>
        <thead>
        <tr>
            <!-- set column name -->
            <th style="width: 60%">Postal Code</th>
            <td style="width: 40%"></td>
        </tr>
        <tr>
            <th>Radius</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Households in Radius</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of House Type Households</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Apartment Type Households</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Townhome Type Households</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Condominium Type Households</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Mobile Home Type Households</th>
            <td></td>
        </tr>
        <tr>
            <th>Average Square Footage</th>
            <td></td>
        </tr>
        <tr>
            <th>Average Heating Temp(°F)</th>
            <td></td>
        </tr>
        <tr>
            <th>Average Cooling Temp(°F)</th>
            <td></td>
        </tr>
        <tr>
            <th>Public Utilities Used</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Off-the-Grid Households</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Households with Power Generator</th>
            <td></td>
        </tr>
        <tr>
            <th>Most Common Generation Method</th>
            <td></td>
        </tr>
        <tr>
            <th>Average Monthly Power Generation(kWh)</th>
            <td></td>
        </tr>
        <tr>
            <th>Count of Households with Battery Storage</th>
            <td></td>
        </tr>
        </thead>
        <tbody id="data-output">
        </tbody>
    </table>
    <table>
        <tr>
            <td  class="buttonLayout" style="text-align: right"><a href = "/view-report-page">Return to view reports</a></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    // check radius is an integer
    function checkInt() {
        const radiusElement = document.getElementById("radius");
        const radius = radiusElement.value;
        const regex = /^[0-9]*$/;
        if (!regex.test(radius) && radius != "") {
            alert("Invalid radius: please enter a non-negative whole number");
            radiusElement.value = "";
            return;
        }
    }

    function checkPostal() {
        const varcharField = document.getElementById("postalCode");
        const value = varcharField.value;
        const regex = /^\d{5}$/;

        if (!regex.test(value) && value != "") {
            alert("Please provide a 5-digits postal code");
            varcharField.value = "";
        }
    }

    function on() {
        const postalCodeElement = document.getElementById("postalCode");
        const postalCode = postalCodeElement.value;
        const radiusElement = document.getElementById("radius");
        const radius = radiusElement.value;
        // check input is not empty
        if (postalCode == "") {
            alert("Postal code is required");
            return;
        }
        if (radius == "") {
            alert("Radius is required");
            return;
        }

        fetch(`http://localhost:8082/reports/household-by-radius?postalCode=${postalCode}&radius=${radius}`, {
            method: 'GET',
            // headers: {
            //     'Accept': 'application/json',
            // },
        })
            .then(response => response.json())
            .then(function(data) {
                var cells = document.getElementsByTagName('td');
                // check result is empty or not
                if (data.length == 0) {
                    for (let i = 0; i < cells.length; i++) {
                        cells[i].innerHTML = "";
                    }
                    alert("No result");
                } else {
                    // print error message for invalid postal code
                    if ("error" in data[0]) {
                        alert(data[0].error);
                        postalCodeElement.value = "";
                        return;
                    }
                    cells[0].innerHTML = data[0].postal_code;
                    cells[1].innerHTML = data[0].radius;
                    cells[2].innerHTML = data[0].count_of_household_in_radius;
                    cells[3].innerHTML = data[0].count_of_house_type;
                    cells[4].innerHTML = data[0].count_of_apartment_type;
                    cells[5].innerHTML = data[0].count_of_townhome_type;
                    cells[6].innerHTML = data[0].count_of_condominium_type;
                    cells[7].innerHTML = data[0].count_of_mobile_home_type;
                    cells[8].innerHTML = data[0].avg_square_footage;
                    cells[9].innerHTML = data[0].avg_heating;
                    cells[10].innerHTML = data[0].avg_cooling;
                    cells[11].innerHTML = data[0].public_utility_used;
                    cells[12].innerHTML = data[0].count_of_0ff_the_grid;
                    cells[13].innerHTML = data[0].count_of_household_with_power;
                    cells[14].innerHTML = data[0].most_common_generation_method;
                    cells[15].innerHTML = data[0].avg_monthly_kwh;
                    cells[16].innerHTML = data[0].count_of_household_with_battery;
                }
            });
    }

</script>
</body>
</html>