<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to my stylesheet -->
    <link rel="stylesheet" href="styles.css">
    <title>Water Heater Stats by State</title>
    <style>
        .buttonLayout {
            border: none;
        }
    </style>
</head>
<body>
<br><br><br>
<h1>Water Heater Statistics by State</h1>
<table id="myTable">
    <thead>
    <tr>
        <th>State</th>
        <th>Average Capacity</th>
        <th>Average BTU</th>
        <th>Average Current Temperature Setting</th>
        <th>Count With Setting</th>
        <th>Count Without Setting</th>
        <th>Drilldown Report</th>

    </tr>
    </thead>
    <tbody id="data-output">
    </tbody>
</table>
<table>
    <tr>
        <td  class="buttonLayout" style="text-align: right"><a href = "/view-report-page">Return to view reports</a></td>
    </tr>
</table>

<script type="text/javascript">

    fetch('http://localhost:8082/reports/view-waterheater-by-state', {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
        },
        mode:'cors'
    })
        .then(response => response.json())
        .then(function(data){
            let placeholder = document.querySelector("#data-output");
            let out = "";
            for(let i of data){
                out += `
			<tr>
				<td>${i.state}</td>
				<td>${i.avg_capacity}</td>
				<td>${i.avg_BTU}</td>
				<td>${i.avg_currentTemperatureSetting}</td>
				<td>${i.count_with_setting}</td>
				<td>${i.count_without_setting}</td>
				<td><button class="button-4" onclick="location.href ='/water-heater-drilldown-page?id=${i.state}'"  target="_blank">${i.drilldown_report}</button></td>
			</tr>
		`;
            }
            placeholder.innerHTML = out;
        });

</script>
</body>
</html>