<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to my stylesheet -->
    <link rel="stylesheet" href="styles.css">
    <title>Start up</title>
</head>
<body>
<br>
<h1>View Water Heater Statistics by State</h1>
<table id="myTable">
    <thead>
    <tr>
        <!-- 设置column 名称 -->
        <th>State</th>
        <th>Average Capacity</th>
        <th>Average BTU</th>
        <th>Average Current Temperature Setting</th>
        <th>Count With Setting</th>
        <th>Count With Setting</th>
        <th>Drilldown Report</th>

    </tr>
    </thead>
    <tbody id="data-output">
    </tbody>
</table>

<script type="text/javascript">

    fetch('http://localhost:8081/reports/view-waterheater-by-state', {
        method: 'GET',
        headers: {
            'Accept': 'application/json',
        },
        mode:'cors'
    })
        .then(response => response.json())
        .then(function(data){
            let placeholder = document.querySelector("#data-output");
            let out = "";
            for(let i of data){
                out += `
			<tr>
				<td>${i.state}</td>
				<td>${i.avg_capacity}</td>
				<td>${i.avg_BTU}</td>
				<td>${i.avg_currentTemperatureSetting}</td>
				<td>${i.count_with_setting}</td>
				<td>${i.count_without_setting}</td>
				<td><a href = "/water-heater-drilldown-page?id=${i.state}"  target="_blank">${i.drilldown_report}</a></td>
			</tr>
		`;
            }
            placeholder.innerHTML = out;
        });

</script>
</body>
</html>



