<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Manufacturer Drilldown Report</title>
    <style>
        .buttonLayout {
            border: none;
        }
    </style>
</head>
<body>
<br>
<h1 id="title"> </h1>
<br>
<table id="manufacturer">
    <thead>
    <tr>
        <th>Appliance Type</th>
        <th>Appliance Count</th>
    </tr>
    </thead>
    <tbody id="data-output">
    </tbody>
</table>
<table>
    <tr>
        <td  class="buttonLayout" style="text-align: right"><a href = "/top-manufacturer-page">Return</a></td>
    </tr>
</table>
<script type="text/javascript">;
var manufacturerName = getQueryString("id");
var url = "http://localhost:8082/reports/manufacturer-drilldown/" + manufacturerName;
document.getElementById("title").append(manufacturerName + " Drilldown Report");

fetch(url, {
    method: 'GET',
    headers: {
        'Accept': 'application/json',
    },
    mode:'cors'
})
    .then(response => response.json())
    .then(function(data){
        let placeholder = document.querySelector("#data-output");
        let out = "";
        for(let i of data){
            out += `
                    <tr>
                        <td>${i.appliance_type}</td>
                        <td>${i.count}</td>
                    </tr>
                `;
        }
        placeholder.innerHTML = out;
    });

function getQueryString(name) {
    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
    var r = window.location.search.substr(1).match(reg);
    if (r != null) {
        return unescape(r[2]);
    }
    return null;
}

</script>
</body>
</html>