<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Household info</title>
</head>
<body>
    <h1>view report</h1>
    <a href="/top-manufacturer-page" >View Top 25 Manufacturers</a> <br />
    <a href="/search-manufacturer-model-page" >Search for Manufacturer/Model</a> <br />
    <a href="/view-heating-cooling-page" >View Heating/Cooling Method Details</a> <br />
    <a href="/view-water-heater-page" >View Water Heater Statistics by State</a> <br />
    <a href="/view-off-grid-page" >View Off-the-grid Household Dashboard</a> <br />
    <a href="/view-householdavg-page" >View Household Averages by Radius</a> <br />
</body>
</html>
