<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>View Reports</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .layout {
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            padding: 50px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="layout">
    <h1>View Reports</h1><br /><br />
    <a href="/top-manufacturer-page" >Top 25 Popular Manufacturers</a> <br /><br />
    <a href="/search-manufacturer-model-page" >Manufacturer/Model Search</a> <br /><br />
    <a href="/view-heating-cooling-method-page" >Heating/Cooling Method Details</a> <br /><br />
    <a href="/view-water-heater-page" >Water Heater Statistics by State</a> <br /><br />
    <a href="/view-off-grid-page" >Off-the-grid Household Dashboard</a> <br /><br />
    <a href="/view-householdavg-page" >Household Averages by Radius</a> <br /><br /><br /><br />
    <a href="/" >Return to main menu</a> <br />
</div>
</body>
</html>
