<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wrapping Up</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .layout {
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            padding: 50px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="layout">
<h1>Submission complete!</h1><br /><br />
<h3>Thank you for providing information to Alterkraft!</h3><br /><br />
<a href="/" >Return to main menu</a> <br />
</div>
</body>
</html>